---
// javascript to run on server here
---
<div class="header_section">
    <div class="header_main">
      <div class="container-fluid">
          <h1 class="banner_taital">Lakeview Suites</h1>
      </div>
    </div>
    <!-- banner section start -->
    <div class="banner_section layout_padding">
      <div id="" class="" data-ride="">
          <div class="carousel-inner">
            <div class="">
                <div class="container">
                </div>
            </div>
          </div>
      </div>
    </div>
    <!-- banner section end -->
</div>
<style>
  .header_section {
    width: 100%;
    float: left;
    background-image: url(../assets/images/banner-bg.jpg);
    height: 50vw;
    background-size: 100%;
    padding: 0px 0px 20px 0px;
    background-repeat: no-repeat;
  }
  .banner_taital {
    width: 100%;
    float: left;
    font-size: 80px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Righteous', Regular;
  }
  .banner_section {
    width: 100%;
    float: left;
    padding-bottom: 305px;
  }
  .layout_padding {
    padding-top: 20px;
    padding-bottom: 0px;
  }
</style>

