---
// javascript to run on server here
---
<div class="header_section">
    <div class="header_main">
      <div class="container-fluid">
          <h1 class="banner_taital">Lakeview Suites</h1>
      </div>
    </div>
    <!-- banner section start -->
    <div class="banner_section layout_padding">
      <div id="" class="" data-ride="">
          <div class="carousel-inner">
            <div class="">
                <div class="container">
                </div>
            </div>
          </div>
      </div>
    </div>
    <!-- banner section end -->
</div>
<style>
  .header_section {
    width: 100%;
    float: left;
    background-image: url(../assets/banner-bg.jpg);
    height: 50vw;
    background-size: 100%;
    padding: 0px 0px 20px 0px;
    background-repeat: no-repeat;
  }
  .banner_taital {
    width: 100%;
    float: left;
    font-size: 80px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Righteous', Regular;
  }
  .banner_section {
    width: 100%;
    float: left;
    padding-bottom: 305px;
  }
  .layout_padding {
    padding-top: 20px;
    padding-bottom: 0px;
  }
  @media (max-width: 575.98px) {
    .header_section {
      width: 100%;
      float: left;
      background-image: url(../assets/banner-bg-small.jpg);
      height: 50vw;
      background-size: 100%;
      padding: 0px 0px 20px 0px;
      background-repeat: no-repeat;
    }

    .banner_taital {
      font-size: 40px;
    }
  }

  @media (min-width: 576px) and (max-width: 767.98px) {
    .header_section {
      width: 100%;
      float: left;
      background-image: url(../assets/banner-bg-medium.jpg);
      height: 50vw;
      background-size: 100%;
      padding: 0px 0px 20px 0px;
      background-repeat: no-repeat;
    }

    .banner_taital {
      font-size: 40px;
    }
  }

  @media (min-width: 768px) and (max-width: 991.98px) {
    .header_section {
      width: 100%;
      float: left;
      background-image: url(../assets/banner-bg-800.jpg);
      height: 50vw;
      background-size: 100%;
      padding: 0px 0px 20px 0px;
      background-repeat: no-repeat;
    }
    .banner_taital {
      font-size: 40px;
    }
  }

  @media (min-width: 992px) and (max-width: 1199.98px) {
    .header_section {
      width: 100%;
      float: left;
      background-image: url(../assets/banner-bg-large.jpg);
      height: 50vw;
      background-size: 100%;
      padding: 0px 0px 20px 0px;
      background-repeat: no-repeat;
    }
    .banner_taital {
      font-size: 40px;
    }
  }

  @media (min-width: 1200px) and (max-width: 1399.98px) {
    .header_section {
      width: 100%;
      float: left;
      background-image: url(../assets/banner-bg-1200.jpg);
      height: 50vw;
      background-size: 100%;
      padding: 0px 0px 20px 0px;
      background-repeat: no-repeat;
    }
    .banner_taital {
      font-size: 40px;
    }
  }

  @media (min-width: 1400px) and (max-width: 1599.98px) {
    .header_section {
      width: 100%;
      float: left;
      background-image: url(../assets/banner-bg-1400.jpg);
      height: 50vw;
      background-size: 100%;
      padding: 0px 0px 20px 0px;
      background-repeat: no-repeat;
    }
    .banner_taital {
      font-size: 40px;
    }
  }

  @media (min-width: 1600px) and (max-width: 1799.98px) {
    .header_section {
      width: 100%;
      float: left;
      background-image: url(../assets/banner-bg-1600.jpg);
      height: 50vw;
      background-size: 100%;
      padding: 0px 0px 20px 0px;
      background-repeat: no-repeat;
    }
  }

  @media (min-width: 1800px) and (max-width: 1999.98px) {
    .header_section {
      width: 100%;
      float: left;
      background-image: url(../assets/banner-bg-1999.jpg);
      height: 50vw;
      background-size: 100%;
      padding: 0px 0px 20px 0px;
      background-repeat: no-repeat;
    }
  }
</style>

