---
// javascript to run on server here
---
<div class="cta">
  Call or email to book!<br>
  <a href="tel:+15806508393">580-650-8393</a><br>
  <a href="mailto:lvsuitesok@gmail.com">lvsuitesok@gmail.com</a>
</div>
<style>
  .cta {
    padding: 1rem;
    margin: 0 auto 20px auto;
    font-size: 30px;
  }

  .cta a {
    text-decoration: underline;
  }
</style>

