---
// javascript to run on server here
---
<div class="cta">
  <span>(580) 650-8393</span>
  <span>1200 N 2400 Rd Colony, OK</span>
</div>
<style>
  .cta {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background: var(--accent);
    color: white;
  }
</style>

